


<div class="container"><br /><br />
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <a href="user.html">
                <h2>Sign up</h2>
            </a>
        </div>
        <div class="col-3"></div>
    </div><br /><br />
    <form [formGroup]="signupFormGroup">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
           
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="email">Email Address<span
                                    class="required ml-1 text-danger font-weight-bold">*</span></label>
                            <input type="text"  class="form-control" id="email" formControlName="email">
                            <div class="invalid-feedback">This field is required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="pwd">Password<span
                                    class="required ml-1 text-danger font-weight-bold">*</span></label>
                            <input type="password"  class="form-control" id="pwd" formControlName="pwd">
                            <div class="invalid-feedback">This field is required</div>
                        </div>
                    </div>
                </div>
            </div><br/>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="pwd">Type<span
                                    class="required ml-1 text-danger font-weight-bold">*</span></label>
                            <select formControlName="type1" class="form-control">
                                <option value="mobile">mobile</option>
                                <option value="fashion">Fashion</option>
                            </select>
                            <div class="invalid-feedback">This field is required</div>
                        </div>
                    </div>
                </div>
            </div><br/>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <div class="form-group">
                            <button class="btn btn-primary" style="width: 100%;" (click)="onSubmit()">Sign Up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    </form>

</div>